$colorHtml: #eeeeee;


@mixin codeQuote( $margQuote, $padQuote, $fsize: .8rem,  $bgc: #e1f5fe ) {
  background-color: $bgc;
  margin: $margQuote;
  padding: $padQuote;
  font-size: $fsize;
}
.highlight {
  @include codeQuote(0 0 0 1rem, .3rem, $fsize: .6rem, $bgc: #f5f5f5);
overflow-x: auto;
}
blockquote {
  @include codeQuote($margQuote: 0 0 0 1rem, $padQuote: .6rem, $fsize: 1rem );
  text-align: right;
  font-family: "Georgia", serif;
}

img {
  max-width: 100%;
}


html {
  font-size: 18px;
  height: 100%;
  background-color: $colorHtml;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
strong, b {
    font-weight: bold !important;
}
header {
  flex: 0 0 auto;
}


.main {
  margin: 0 4%;
}
.ankor {
  text-align: right;
  list-style: none;
  padding: 0;

  a {
    font-family: "Georgia";
    text-decoration: none;
    color: #01579b;
  }
}
.site-footer {
  margin: 2rem 0 0;
  background-color: #fff;
}

.wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}




.content {
  order: 1;
  flex: 1 0 68%;
  margin: 2% 1% 0 0;
  background-color: #fff;
  padding-bottom: 1rem;
}


footer {
  flex: 0 0 10%;
}
// POST


.post {
  border-bottom: 1px dotted #8c8b8b;
  padding-bottom: 0.4rem;

  &:last-child {
    border-bottom: none;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.video-wrap {
  width: 75%;
  margin: 1rem auto;
  text-align: center;
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
