$colorHtml: #eeeeee;


@mixin codeQuote( $margQuote, $padQuote, $fsize: .8rem,  $bgc: #e1f5fe ) {
  background-color: $bgc;
  margin: $margQuote;
  padding: $padQuote;
  font-size: $fsize;
}
.highlight {
  @include codeQuote(0 0 0 1rem, .3rem, $bgc: #f5f5f5);
}
blockquote {
  @include codeQuote($margQuote: 0 0 0 1rem, $padQuote: .6rem, $fsize: 1rem );
  text-align: right;
  font-family: "Georgia", serif;
}

img {
  max-width: 100%;
}


html {
  font-size: 18px;
  height: 100%;
  background-color: $colorHtml;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
strong, b {
    font-weight: bold !important;
}
header {
  flex: 0 0 auto;
}
$FontTitleFamily: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
@mixin textStyleTitle ($FontTitleMargin, $FontTitleSize, $FontHeight: 3rem ){
  margin:  $FontTitleMargin;
  font-size: $FontTitleSize;
  font-family: $FontTitleFamily;
  line-height: $FontHeight;
}
.page__title,
.post__title {
  @include textStyleTitle( 1.5rem 0, 2rem ) ;
  text-align: center;
}
.menu__left__title {
  @include textStyleTitle( 1.5rem 4%, 1.8rem ) ;
  font-weight: lighter;
}

h2 {
  font-family: $FontTitleFamily;
}

h3 {
  font-family: $FontTitleFamily;
  font-size: 1.3rem;
  font-weight: lighter;
}

.main {
  margin: 0 4%;
}
.ankor {
  text-align: right;
  list-style: none;
  padding: 0;

  a {
    font-family: "Georgia";
    text-decoration: none;
    color: #01579b;
  }
}
.site-footer {
  margin: 2rem 0 0;
  background-color: #fff;
}

.wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

.menu__left--wrap {
  flex: 0 0 28%;
  order: 2;
  margin: 2% 0 0 1%;
  background-color: #fff;
  padding-bottom: 1rem;
}

.left__nav {
  margin: 0 4%;

  ul{
    padding: 0;
    margin: 0;
    list-style: none;

  }
}



.content {
  order: 1;
  flex: 1 0 68%;
  margin: 2% 1% 0 0;
  background-color: #fff;
  padding-bottom: 1rem;
}


footer {
  flex: 0 0 10%;
}
// POST

p {
  font-size: 1rem;
  line-height: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0.5rem 0;
}

.post {
  border-bottom: 1px dotted #8c8b8b;
  padding-bottom: 0.4rem;

  &:last-child {
    border-bottom: none;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}



.post__link {
  text-decoration: none;
  color: #000;
}

.post__meta {
  font-family: "Courier New";
  color: #757575;
}

.post__readmore {
  float: right;
  padding: 0.3rem;
  background-color: #eee;
  font-family: "Courier New";
  font-size: 20px;
  text-decoration: none;
  color: #424242;

  &:hover {
    background-color: #e0e0e0;
  }

  &:active {
    background-color: #bdbdbd;
  }
}
