$FontTitleFamily: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

.page__title,
.post__title {
 font-family: "Georgia", serif;
 font-size: 2rem;
 line-height: 3rem;
 text-align: center;
}
.menu__left__title {
  font-family: $FontTitleFamily;
  margin: 1.5rem 4%;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 3rem;
}

h2 {
  font-family: "Palatino Linotype", Book Antiqua, Palatino, serif;
  font-size: 1.7rem;
}

h3 {
  font-family: "Palatino Linotype", Book Antiqua, Palatino, serif;
  font-size: 1.4rem;
  margin: 0.8rem 0;
}
p {
  font-size: .9rem;
  line-height: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0.3rem 0;
}
