<!DOCTYPE html>
<html lang="ru">
{% include head.html %}
<body>
{% include header.html %}
<div class="wrap">

	<div class="menu__left--wrap">

		{% if page.category %}
			{% assign cat = page.category %}
			<h2 class="menu__left__title">{{cat}}</h2>
			{% elsif page.categories %}
			{% assign cat = page.categories %}
			<h2 class="menu__left__title">{{cat}}</h2>
    {% else %}
    <h2 class="menu__left__title">Реклама</h2>
  {% endif %}


		<nav class="left__nav">
  		<ul>
				{% for post in site.categories[cat] %}
					{% if post.url != page.url %}
						<li>
  						<a href="{{post.url | prepend: site.baseurl | prepend: site.url }}" class="left__nav__link">{{post.title}}</a>
						</li>

					{% endif %}
				{% endfor %}
			</ul>
		</nav>

	</div>

  <div class="content">
    <div class="main">
  {{ content }}

</div>
  </div>

</div>
{% include footer.html %}
</body>
</html>
